@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,100&display=swap');


.App {
  text-align: center;
  font-family: 'Roboto', sans-serif;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 75px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.order-app {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin: auto;
  margin-top: 30px;
  max-width: 800px;
}

.ob-cont {
  width: 250px;
  background-color: #1f2438; 
  padding: 20px 5px 10px 5px;
  border-radius: 10px;
  margin-bottom: 30px;
}

.ob-title-cont {
  color: #9d99b1;
  padding: 0 20px 0 20px;
}

.ob-spread-cont {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px 20px 20px;
}

.ob-spread-price {
  color: #E0E0E0;
}

.ob-spread-title {
  color: #9d99b1;
}

.ob-cont-ask-title {
  color:#9d99b1;
}

.ob-title-cont {
  height: 5x;
  display: flex;
  justify-content: space-between;
}

.ob-sell-cont {
  margin-top: 5px;
}
.ob-bid-cont {
  margin-top: 5px;
}

.ob-tile {
  display: flex;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.ob-tile-market {
  color: #E0E0E0;
  font-size: small;
}

.ob-tile-price {
  color: #B20C24
}

.ob-tile-price-bid {
  color: green;
}

.ob-tile {
  background-color: #2b283b;
  margin: 2px 0 2px 0;
}


/* Form */

.form-cont-wrapper {
  margin-top: 30px;
  height: 500px;
}

.form-cont {
  display: flex;
  flex-direction: column;
  background-color: #1f2438;
  height: 250px;
  width: 300px;
  border-radius: 10px;
}
.box1 {
  border: 2px solid;
  border-color: rgb(255, 213, 43);
}

.box2 {
  border: 1px solid;
  border-color: #000;
}
.box {
  margin: 20px 20px 20px 20px;
  background-color: #fff;
  height: 40px;
  line-height: 40px;
  border-radius: 5px;
  box-shadow: inset 1px 1px 3px 2px #ccc;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr;
  column-gap: 10px;
  justify-items: stretch;
}

.box-title {
  color: #5B5B5B;
  text-align: left;
  margin-left: 5px;
}

.box-amount {
  color: #5B5B5B;
}

.box-amount > input {
  border-style: hidden;
  -webkit-appearance: none;
  color: #5B5B5B;
  height: 30px;
  font-family: 'Roboto', sans-serif;
  font-size: 1em;
  text-align: right;
  width: 100px;
  margin-right: 20px;
}

.box-amount > input:focus{
  outline: none;
}

.box-currency {
  color: #5B5B5B;
  font-weight: 500;
  margin-right: 5px;
}

